.homeClasse{
    font-family: 'AbeeZee', sans-serif;
    font-size: 4rem;
    color: rgb(77, 173, 190);
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}
.homeClasse>h3{
    margin-bottom: 1rem;
    font-size: 6vw;
}
.homeClasse>h6{
    margin-top: 1rem;
    margin-bottom: 3rem;
    font-size: 4vw;
}
.homeClasse>.itemsHeader>.url{
    margin: 10px;
    color: rgb(77, 173, 190);
    font-size: 6vw;
}
.header-wrapper{
    min-height: 100%;
}
.header-wrapper>.header{
    font-size: 3.5vw;

}
.header-wrapper>.header>a{
    color: rgb(77, 173, 190);
}