nav>ul{
    width: 100%;

}
nav>ul>li{
    padding: 0 2vw 0 2vw;
}
nav>ul>li>span{
    color: white;
    font-size: 2vw;
}
.nav>li>span:hover, .nav>li>span:focus{
    text-decoration: none;
    transform: scale(1.1);
    background-color: rgba(238, 238, 238, 0);
}
.items{
    border-bottom: 2px solid white;
}
.itemswhite{
    border-bottom: 2px solid rgb(77, 173, 190);
}
.itemswhite, .items{
  padding-bottom: 0px !important;
  margin-bottom: 0 !important;
  
}

@media (max-width: 575.98px) { 
    nav>ul>li>span{
        font-size: 4vw;
    }
 }
