html, body{
margin: 0;
padding: 0;
font-family: 'AbeeZee', sans-serif;
}

body{
  font-size:16px;

  }

.home{
  font-family: 'AbeeZee', sans-serif;
  background-color: rgb(77, 173, 190);
}

.skils, .about, .home, .app, .portfolio {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  min-height: 100vh;
}